body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #1A1A1A;
    background-color: #fff;
  }
  header {
    background-color: #000;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
  }
  .cover {
    padding: 60px 10px;
    text-align: center;
    background-color: #FEF9E7;
    color: #000;
    margin-top: 40px;
  }
  .cover img {
    border-radius: 50%;
    max-width: 100%;
  }
  .homeZone {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;

    border: 15px solid red;
    color: #00f;
    background-color: #EDBB99;
    text-align: center;
    text-decoration: none;
    padding: 30px 15px;
  }
  .skillsZone {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;

    border: 15px solid green;
    color: #00f;
    background-color: #AED6F1;
    text-align: center;
    text-decoration: none;
    padding: 30px 15px;
  }
  .contactZone {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;

    border: 15px solid red;
    color: #00f;
    background-color: #ABEBC6;
    text-align: center;
    text-decoration: none;
    padding: 30px 15px;
  }
  .skills {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
  }
  .skill {
    width: 30%;
    text-align: center;
  }
  .contact-form {
    background-color: #D5DBDB;
    color: #000;
    padding: 20px;
    text-align: center;
  }
  .contact-form input, .contact-form textarea {
    width: 90%;
    padding: 10px;
    margin: 10px 10px;
    border: none;
    border-radius: 5px;
  }
  .contact-form button {
    background-color: #1A1A1A;
    color: #0f0;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  footer {
    background-color: #1A1A1A;
    color: #0f0;
    text-align: center;
    padding: 10px 0;
  }
	